* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
 
}

.app {
  display: flex;
  height: 100vh;
  background: #f9f3f3;
}

.sidebar {
  width: 400px;
  background: #FFFBFB;
  padding: 16px;
}

.main {
  flex: 1;
  padding: 16px;
}

.sidebar-logo{
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-left: 25px;
  margin-right: 10px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-top: 10px;
  padding-bottom: 50px;
}

.circle-pay {
  margin: 0;
  font-size: 2.5rem;
  color: #d3adad;
}

.transaction-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  margin-left: 25px;
  margin-right: 10px;
  color: #d3adad;
}

