# Node dependencies
node_modules/

# Output directories
dist/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment files
.env
.env.*

# TypeScript
*.tsbuildinfo

# Editor directories and files
.vscode/
.idea/
.DS_Store

# Optional npm cache
.npm

# Operating system files
Thumbs.db

# Package manager lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml
